.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  display: flex;
  backdrop-filter: static;
  justify-content: center;
  top: 0;
  align-items: center;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 400px;
  height: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  pointer-events: auto;
}

.modalContainer .title {
  text-align: center;
  margin-bottom: 18px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.title{
  color: rgb(57, 45, 45);
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

.modalContainer .modal_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.modalContainer .modal_footer button {
  width: 150px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.modalContainer .modal_footer button:hover {
  background-color: rgb(136, 145, 202);
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_button {
  background: #e4a3b0;
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.category_button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: rgb(100, 25, 25);
}
.parameter-details{
  width: 100%;
}
.parameter-details p{
  color: black;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
}


.fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade.show {
  opacity: 1;
}